In [1]:
# Importing libraries
import csv
import json
import pandas as pd

# Pandas reading existing questions CSV
questionDB = pd.read_json("WWTBAM_JSON_File.json")
questionDB

,Question,Answer,Wrong 1,Wrong 2,Wrong 3
0,What was Homer Simpson's dogs name?,Santa's little helper,Snoopy,Rally,Snowball
1,Which of these was not a Friend?,Milhouse,Phoebe,Ross,Joey

In [2]:
# Importing sqlalchemy for DB creation
from sqlalchemy import create_engine

# Creating engine variable that opens sqlite DB
engine = create_engine(f"sqlite:///trivia_db.db")

# Naming SQL Table and replace any old versions 
questionDB.to_sql(name = 'Trivia_question_table', con = engine, if_exists='replace', index=False)

In [3]:
# Show the names of the tables in the DB
engine.table_names()

['Trivia_question_table']

In [5]:
# Pandas reading existing questions SQL
question_table = pd.read_sql('SELECT * FROM Trivia_question_table', con=engine)
question_table.head()

,Question,Answer,Wrong 1,Wrong 2,Wrong 3
0,What was Homer Simpson's dogs name?,Santa's little helper,Snoopy,Rally,Snowball
1,Which of these was not a Friend?,Milhouse,Phoebe,Ross,Joey