In [1]:
# Importing libraries
import csv
import json
import pandas as pd

# Pandas reading existing questions CSV
question_table = pd.read_json("WWTBAM_JSON_File.json")
question_table.tail(5)

,question,A,B,C,D,answer
542,Who wrote musicals with Oscar Hammerstein II?,Richard Rodgers,Rogers Hornsby,Gilbert O' Sullivan,George Rogers Clark,A
543,Who wrote the lyrics of the Frank Sinatra anth...,Frank Sinatra,Kris Krist offerson,Carole King,Paul Anka,D
544,Whom did Billie Jean King defeat in the famous...,Jimmy Connors,Pete Sampras,John McEnroe,Bobby Riggs,D
545,Whose profile can you see on the front of dime...,George Washington,Thomas Jefferson,Benjamin Franklin,Franklin Roosevelt,D
546,With what would you use a wah-wah pedal?,bicycle,stock car,electric guitar,baby,C

In [2]:
# Pandas reading existing questions CSV
login_table = pd.read_csv("username_table.csv")
login_table.tail(5)

   User Name
0  Giamnator

In [3]:
# Pandas reading existing questions CSV
scoring_table = pd.read_csv("scoring_table.csv")
scoring_table.tail(5)

   Game  Match  Match Score    Username       Date
0     1      1            0  Giaminator  3/20/2021

In [4]:
# Importing sqlalchemy for DB creation
from sqlalchemy import create_engine

# Creating engine variable that opens sqlite DB
engine = create_engine(f"sqlite:///trivia_db.db")

# Naming Question SQL Table and replace any old versions 
question_table.to_sql(name = 'question_table', con = engine, if_exists='replace', index=False)

# Naming Login SQL Table and replace any old versions 
login_table.to_sql(name = 'login_table', con = engine, if_exists='replace', index=False)

# Naming Scoring SQL Table and replace any old versions 
scoring_table.to_sql(name = 'scoring_table', con = engine, if_exists='replace', index=False)

In [5]:
# Show the names of the tables in the DB
engine.table_names()

['Trivia_question_table', 'login_table', 'question_table', 'scoring_table']

In [22]:
# https://pythontic.com/database/sqlite/drop%20table
import sqlite3

connection  = sqlite3.connect("trivia_db.db")

cursor      = connection.cursor()

dropTableStatement = "DROP TABLE IF EXISTS Trivia_question_table"

cursor.execute(dropTableStatement)

connection.close()

In [23]:
# Show the names of the tables in the DB
engine.table_names()

['login_table', 'question_table', 'scoring_table']